.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1.5rem;
}

.header-back {
   font-size: 15px;
   font-weight: bold;
   display: flex;
   align-items: center;
   gap: 0.7rem;
   cursor: pointer;
}

.header-back:hover {
   text-decoration: underline;
}

.main {
   padding: 0.5rem 1.5rem;
   gap: 1rem;
}

.comments {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

.comment {
   width: 100%;
}

.comments h2 {
   align-self: flex-start;
}

.comment-line {
   border-bottom: 1px solid var(--blue-grey-transparent);
}

.comment-reply {
   color: var(--blue);
   cursor: pointer;
}

.comment-reply:hover {
   color: var(--blue-hover);
}

.user {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.user-info-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

.user-info-wrapper img {
   border-radius: 50%;
   width: 60px;
   height: 60px;
}

.user-info h3 {
   margin: 0;
}

.form-wrapper {
   margin-bottom: 0.5rem;
}

.comment-reply-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 0.5rem;
}

.comment-reply-form textarea {
   resize: none;
}

.add-comment-form {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
}

.add-comment-form h2 {
   margin: 0;
}

.add-comment-form textarea {
   width: 100%;
   resize: none;
}

.replies {
   margin-left: 1.5rem;
   padding-left: 1rem;
   border-left: 1px solid var(--blue-grey-transparent);
}

.replying-to-username {
   color: var(--purple);
   font-weight: bold;
}

.characters-btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.feedback {
   display: grid;
   grid-template-rows: auto auto;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: 'text text' 'upvotes comments';
}

.feedback-text-wrapper {
   grid-area: text;
}

.upvotes-wrapper {
   grid-area: upvotes;
   justify-self: flex-start;
}

.comments-wrapper {
   grid-area: comments;
   justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
   .upvotes-wrapper {
      flex-direction: column;
      gap: 0.5rem;
   }

   .feedback {
      display: grid;
      grid-template-areas: 'upvotes text comments' '. text comments';
      grid-template-columns: 0.2fr 2fr 0.2fr;
      justify-items: center;
   }

   .feedback-text-wrapper {
      grid-area: text;
      width: 100%;
   }

   .upvotes-wrapper {
      grid-area: upvotes;
   }

   .comments-wrapper {
      grid-area: comments;
   }

   .upvotes-wrapper {
      width: 2.5rem;
      height: 4rem;
      justify-self: center;
   }
}
