.header {
   background-image: url('../assets/suggestions/mobile/background-header.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8rem 1.5rem;
   height: 5rem;
   position: relative;
}

.header-logo-title,
.header-logo-subtitle {
   margin: 0;
}

.header-logo-title {
   color: var(--white);
}

.header-logo-subtitle {
   color: var(--white-smoke);
}

.header-menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-menu i {
   color: var(--white);
   cursor: pointer;
}

.sidebar {
   position: absolute;
   background-color: var(--white-light-smoke);
   width: 75vw;
   height: calc(100vh - 5rem);
   right: -75vw;
   top: 5rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem;
   z-index: 3;
}

.slide {
   right: 0;
}

.sidebar-categories {
   display: flex;
   gap: 0.8rem;
   flex-wrap: wrap;
}

.roadmap {
   width: 100%;
}

.roadmap-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-header-title {
   color: var(--dark-light-blue);
}

.roadmap-header-link {
   color: var(--blue);
   font-weight: bolder;
}

.roadmap-status-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.roadmap-status {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem 0;
}

.roadmap-status > span {
   color: var(--blue-grey);
   font-weight: bold;
}

.roadmap-status div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-status div span {
   color: var(--blue-grey);
}

.bullet {
   width: 12px;
   height: 12px;
   margin: 0 1rem 0 0.2rem;
   border-radius: 50%;
}

.bullet-orange {
   background-color: var(--orange);
}

.bullet-purple {
   background-color: var(--purple);
}

.bullet-blue {
   background-color: var(--light-blue);
}

.sorting-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--dark-blue);
   padding: 0.6rem 1rem;
   position: sticky;
   top: 0;
   position: -webkit-sticky;
   z-index: 2;
}

.arrow-sorting {
   padding-left: 0.4rem;
}

.arrow-sorting i {
   transition: all 0.2s ease-in;
}

#active-sorting img {
   display: inline-block;
}

@media only screen and (min-width: 768px) {
   .header {
      background: none;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      padding: 0 0 1rem 0;
   }

   .header-menu {
      display: none;
   }

   .header-logo {
      background-image: url('../assets/suggestions/tablet/background-header.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 100%;
      border-radius: 0.6rem;
      padding: 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
   }

   .sidebar {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;
   }

   .sidebar-categories {
      height: 100%;
      align-items: center;
   }

   .sorting-section {
      border-radius: 0.6rem;
      top: 0.6rem;
   }

   .main {
      padding: 1.5rem 0;
   }

   .roadmap {
      padding: 0.8rem 1.5rem;
   }
}
