.header {
   background-image: url('../assets/suggestions/mobile/background-header.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8rem 1.5rem;
   height: 5rem;
   position: relative;
}

.header-logo-title,
.header-logo-subtitle {
   margin: 0;
}

.header-logo-title {
   color: var(--white);
}

.header-logo-subtitle {
   color: var(--white-smoke);
}

.header-menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-menu i {
   color: var(--white);
   cursor: pointer;
}

.sidebar {
   position: absolute;
   background-color: var(--white-light-smoke);
   width: 75vw;
   height: calc(100vh - 5rem);
   right: -75vw;
   top: 5rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem;
   z-index: 3;
}

.slide {
   right: 0;
}

.sidebar-categories {
   display: flex;
   gap: 0.8rem;
   flex-wrap: wrap;
}

.roadmap {
   width: 100%;
}

.roadmap-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-header-title {
   color: var(--dark-light-blue);
   margin: 0;
}

.roadmap-header-link {
   color: var(--blue);
   font-weight: bolder;
}

.roadmap-status-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.roadmap-status {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem 0;
}

.roadmap-status > span {
   color: var(--blue-grey);
   font-weight: bold;
}

.roadmap-status div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-status div span {
   color: var(--blue-grey);
}

.sorting-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--dark-blue);
   padding: 0.6rem 1rem;
   position: sticky;
   top: 0;
   z-index: 2;
}

.selected-sorting {
   font-weight: bold;
}

.suggestions {
   display: none;
}

.arrow-sorting {
   padding-left: 0.4rem;
}

.arrow-sorting i {
   transition: all 0.3s linear;
}

#active-sorting img {
   display: inline-block;
}

.feedback {
   display: grid;
   grid-template-rows: auto auto;
   grid-template-columns: repeat(2, 1fr);
   grid-template-areas: 'text text' 'upvotes comments';
}

.feedback-text-wrapper {
   grid-area: text;
}

.upvotes-wrapper {
   grid-area: upvotes;
   justify-self: flex-start;
}

.comments-wrapper {
   grid-area: comments;
   justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
   .header {
      background: none;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
      padding: 0 0 1rem 0;
   }

   .header-menu {
      display: none;
   }

   .header-logo {
      background-image: url('../assets/suggestions/tablet/background-header.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 100%;
      border-radius: 0.6rem;
      padding: 1.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
   }

   .sidebar {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 1rem;
   }

   .sidebar-categories {
      height: 100%;
      align-items: center;
   }

   .sorting-section {
      border-radius: 0.6rem;
      top: 0.6rem;
   }

   .suggestions-select-wrapper {
      display: flex;
      align-items: center;
      gap: 2.5rem;
   }

   .suggestions {
      display: flex;
      align-items: center;
      color: var(--white);
      gap: 0.4rem;
      padding-left: 0.4rem;
   }

   .suggestions img {
      margin-right: 0.6rem;
   }

   .suggestions h2 {
      margin: 0;
   }

   .main {
      padding: 1.5rem 0;
   }

   .roadmap {
      padding: 0.8rem 1.5rem;
   }

   .upvotes-wrapper {
      flex-direction: column;
      gap: 0.5rem;
   }

   .feedback {
      display: grid;
      grid-template-areas: 'upvotes text comments' '. text comments';
      grid-template-columns: 0.2fr 2fr 0.2fr;
      justify-items: center;
   }

   .feedback-text-wrapper {
      grid-area: text;
      width: 100%;
   }

   .upvotes-wrapper {
      grid-area: upvotes;
   }

   .comments-wrapper {
      grid-area: comments;
   }

   .upvotes-wrapper {
      width: 2.5rem;
      height: 4rem;
      justify-self: center;
   }
}

@media only screen and (min-width: 1280px) {
   body {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 4rem 10rem auto;
      grid-template-areas: 'header sorting' 'header main' '. main';
      column-gap: 1rem;
      row-gap: 0.2rem;
   }

   .header {
      grid-template-columns: 1fr;
      grid-area: header;
      position: sticky;
      top: 0.5rem;
   }

   .header-logo {
      background-image: url('../assets/suggestions/desktop/background-header.png');
      padding: 6rem 6rem 1.5rem 1.5rem;
   }

   .sidebar {
      grid-template-columns: 1fr;
   }

   .sorting-section {
      grid-area: sorting;
      top: 0.5rem;
   }

   .main {
      grid-area: main;
      width: 100%;
   }
}
