.header {
   background-image: url('../assets/suggestions/mobile/background-header.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.8rem 1.5rem;
   height: 5rem;
   position: fixed;
   width: 100%;
   z-index: 2;
}

.header-logo-title,
.header-logo-subtitle {
   margin: 0;
}

.header-logo-title {
   color: var(--white);
}

.header-logo-subtitle {
   color: var(--white-smoke);
}

.header-menu {
   display: flex;
   justify-content: center;
   align-items: center;
}

.header-menu i {
   color: var(--white);
   cursor: pointer;
}

.sidebar {
   position: absolute;
   background-color: var(--white-light-smoke);
   width: 75vw;
   height: calc(100vh - 5rem);
   right: -75vw;
   top: 5rem;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: column;
   gap: 2rem;
   padding: 2rem;
   z-index: 2;
}

.slide {
   right: 0;
}

.sidebar-categories {
   display: flex;
   gap: 0.8rem;
   flex-wrap: wrap;
}

.roadmap {
   width: 100%;
}

.roadmap-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-header-title {
   color: var(--dark-light-blue);
}

.roadmap-header-link {
   color: var(--blue);
   font-weight: bolder;
}

.roadmap-status-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

.roadmap-status {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem 0;
}

.roadmap-status > span {
   color: var(--blue-grey);
   font-weight: bold;
}

.roadmap-status div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.roadmap-status div span {
   color: var(--blue-grey);
}

.bullet {
   width: 12px;
   height: 12px;
   margin: 0 1rem 0 0.2rem;
   border-radius: 50%;
}

.bullet-orange {
   background-color: var(--orange);
}

.bullet-purple {
   background-color: var(--purple);
}

.bullet-blue {
   background-color: var(--light-blue);
}

.sorting-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--dark-blue);
   padding: 0.6rem 1rem;
   margin-top: 5rem;
}

.custom-select-wrapper {
   display: flex;
   justify-content: space-between;
   color: var(--white);
   position: relative;
}

.custom-select-wrapper label {
   padding-right: 0.3rem;
}

.custom-select {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.arrow-sorting {
   padding-left: 0.4rem;
}

.arrow-sorting i {
   transition: all 0.2s ease-in;
}

.custom-select-dropdown {
   position: absolute;
   top: 2.8rem;
   background-color: var(--white);
   display: flex;
   flex-direction: column;
   width: 14rem;
   border-radius: 0.6rem;
   box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.custom-select-dropdown-option {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--blue-grey);
   padding: 0.8rem 1.5rem;
}

.custom-select-dropdown-option:not(:last-child) {
   border-bottom: 0.1px solid var(--blue-grey-transparent);
}

.hide {
   display: none;
}
