@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root {
   --purple: #ad1fea;
   --blue: #4661e6;
   --dark-blue: #373f68;
   --white: #ffffff;
   --white-smoke: #f2f4ff;
   --white-light-smoke: #f7f8fd;
   --dark-light-blue: #3a4374;
   --blue-grey: #647196;
   --orange: #f49f85;
   --light-blue: #62bcfa;
   --blue-grey-transparent: #64719685;
   --red: #d73737;
}

* {
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
   height: 100%;
}

body {
   font-family: 'Jost', sans-serif;
   margin: 0;
   overflow-x: hidden;
   height: 100%;
   background-color: var(--white-light-smoke);
   padding-bottom: 2.5rem;
}

h1 {
   font-size: 24px;
   word-spacing: -0.33px;
   line-height: 35px;
}

h2 {
   font-size: 20px;
   line-height: 29px;
   word-spacing: -0.25px;
}

h3 {
   font-size: 18px;
   line-height: 26px;
   word-spacing: -0.25px;
}

h4 {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: -0.2px;
}

input,
textarea,
select {
   background-color: var(--white-light-smoke);
   padding: 0.5rem 1rem;
   border-radius: 0.6rem;
   border: 1px solid var(--white-light-smoke);
   font-family: inherit;
   width: 100%;
}

input:focus,
textarea:focus,
select:focus {
   outline: none;
   border: 1px solid var(--blue);
}

textarea {
   resize: none;
}

.btn {
   font-family: inherit;
   border: none;
   border-radius: 0.6rem;
   padding: 0.8rem 1.4rem;
   font-weight: bold;
}

.category-btn {
   color: var(--blue);
   background-color: var(--white-smoke);
   padding: 0.5rem 1rem;
}

.btn-purple {
   color: var(--white);
   background-color: var(--purple);
}

.btn-dark-blue {
   color: var(--white);
   background-color: var(--dark-light-blue);
}

.btn-red {
   color: var(--white);
   background-color: var(--red);
}

#active-category {
   color: var(--white);
   background-color: var(--blue);
}

.title {
   color: var(--dark-light-blue);
}

.secondary-text {
   color: var(--blue-grey);
}

.card {
   background-color: var(--white);
   padding: 1.4rem 1.5rem;
   border-radius: 1rem;
   width: 100%;
}

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 1.5rem;
   margin: auto;
}

.main-feedback {
   width: 100%;
}

.feedbacks {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
}

.no-feedback {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
}

.no-feedback-image {
   margin-bottom: 2rem;
}

.no-feedback-text {
   text-align: center;
   color: var(--blue-grey);
}

.feedback {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.feedback-title {
   margin: 0;
}

.feedback-text {
   margin: 0;
}

.feedback .btn {
   align-self: flex-start;
}

.feedback-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.upvotes-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--white-smoke);
   padding: 0.2rem 0.6rem;
   border-radius: 0.6rem;
}

.upvotes-wrapper > *,
.comments-wrapper > * {
   margin: 0 0.3rem;
}

.comments-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.feedback-footer span {
   font-weight: bold;
   color: var(--dark-light-blue);
}

.hide {
   display: none !important;
}

.disable-scroll {
   overflow: hidden;
}

.link {
   text-decoration: none;
   font-size: 13px;
}

.custom-select-wrapper {
   display: flex;
   justify-content: space-between;
   color: var(--white);
   position: relative;
}

.custom-select-wrapper label {
   padding-right: 0.3rem;
}

.custom-select {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.custom-select-dropdown {
   position: absolute;
   top: 2.8rem;
   background-color: var(--white);
   display: flex;
   flex-direction: column;
   width: 14rem;
   border-radius: 0.6rem;
   box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.custom-select-dropdown-option {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--blue-grey);
   padding: 0.8rem 1.5rem;
}

.custom-select-dropdown-option:not(:last-child) {
   border-bottom: 0.1px solid var(--blue-grey-transparent);
}

.custom-select-dropdown-option img {
   display: none;
}

@media only screen and (min-width: 768px) {
   html {
      overflow-x: unset;
      height: auto;
   }
   body {
      margin: 2rem 2rem;
      overflow-x: unset;
   }
}

@media only screen and (min-width: 1280px) {
   body {
      max-width: 1280px;
      margin: 2rem auto !important;
   }
}
